node_modules
**/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
.env
.env.local
.env.*
*.log
frontend/dist
backend/uploads
build_error.txt
build_error3.txt
.vscode
.idea
